<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Create a New Park</title>
</head>
<body>


<form class="w3-form w3-centered w3-margin w3-half" th:action="@{createpark}" th:object="${park}" enctype="multipart/form-data" method="POST" >
    <h1 class="w3-container w3-blue">Create a new Park</h1>

    <label class="w3-text-blue" for="namePark">Name of the new park</label>
    <input class="w3-input w3-border" id="namePark" type="text" value="" th:field="*{parkName}">

    <label class="w3-text-blue" for="surface" >Surface of the new park on ha</label>
    <input class="w3-input w3-border" id="surface" type="text" value="" th:field="*{surface}">

    <label class="w3-text-blue" for="openingYear" >Opening year</label>
    <input class="w3-input w3-border" id="openingYear" type="text" value="" th:field="*{openingYear}">

    <label class="w3-text-blue" for="parkImage" >Picture of the Park</label>
    <input class="w3-file" id="parkImage" name="file" type="file">

    <input class="w3-button w3-blue w3-margin" type="submit" value="Submit">

    <a th:href ="@{/myresort/home}" class="w3-button w3-red w3-margin">Cancel</a>

</form>

</body>
</html>