<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<header class="w3-bar w3-blue w3-xlarge">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Parks</a>
    <a href="#" class="w3-bar-item w3-button">Attractions</a>
    <a class="w3-right w3-animate-right w3-margin-right w3-bar-item w3-hide-small">My Theme Park Resort Manager</a>
</header>

        <h3 th:text="${park.parkName}"></h3>





</body>
</html>