<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link th:href="@{/styles/cssandjs/main.css}" rel="stylesheet">
    <title th:text="${park.parkName}">

    </title>
</head>

<body>
<header class="w3-bar w3-blue w3-xlarge">
    <a th:href ="@{/myresort/home}" class="w3-bar-item w3-button">Home</a>
    <a th:href ="@{/myresort/parks}" class="w3-bar-item w3-button">Parks</a>
    <a th:href ="@{/myresort/attractions}"  class="w3-bar-item w3-button">Attractions</a>
    <a class="w3-right w3-animate-right w3-margin-right w3-bar-item w3-hide-small">My Theme Park Resort Manager</a>
</header>


<div class="w3-center">
    <h2 class="w3-center w3-margin" th:text="${park.parkName}"></h2>
    <img style="max-height:300px" th:src="@{/apiParkImage/getImageByName(name=${park._id})}">
    <p class="w3-center w3-margin" th:text="${park.parkDescription}"></p>
    <p class="w3-center" th:text="'Surface: ' + ${park.surface} + ' ha.                Opening year: ' + ${park.openingYear}"></p>

</div>
<div id="attractionsGrid" class="w3-center" style="width:99%; margin:auto">
    <h2 class="w3-center" th:text="'Attractions in ' + ${park.parkName}"></h2>
    <div class="hover01 w3-row" style="width:100%; margin:auto">
        <div class="w3-col xl2 l3 m4 s6 w3-center w3-padding-16" th:each="attraction:${attractionsfromController}">
            <figure class="container">
                <img th:src="@{/apiAttractionImage/getImageByName(name=${attraction._id})}">
                <div class="centered">
                    <span id="ridename" class="w3-center" th:text="${attraction.attractionName}"></span>
                </div>
            </figure>
        </div>
    </div>
</div>





</body>
</html>