<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<head>
    <meta charset="UTF-8">
    <title>Update an existing Attraction</title>
</head>
<body>


<form class="w3-form w3-centered w3-margin w3-half" th:action="@{updateAttraction}" th:object="${attraction}" method="POST" >
    <h1 class="w3-container w3-blue">Update an existing Attraction</h1>

    <input id="attractionId" type="hidden" value="" th:field="*{attractionId}">

    <label class="w3-text-blue" for="attractionName">Name of the attraction</label>
    <input class="w3-input w3-border" id="attractionName" type="text" value="" th:field="*{attractionName}">

    <label class="w3-text-blue" for="attractionDescription" >Description of the attraction</label>
    <input class="w3-input w3-border" id="attractionDescription" type="text" value="" th:field="*{attractionDescription}">

    <label class="w3-text-blue" for="park" >Park</label>
      <input class="w3-input w3-border" id="park" type="text" value="" th:field="*{park}">
         <option th:each="park:${parksfromController}"
                 th:value="${park.parkId}"
                 th:text="${park.parkName}"
                 th:selected="">
         </option>
    </select>
     -->
    <input class="w3-button w3-blue w3-margin" type="submit" value="Submit">

    <a th:href ="@{/myresort/home}" class="w3-button w3-red w3-margin">Cancel</a>

</form>

</body>
</html>