<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
<header class="w3-bar w3-blue w3-xlarge">
    <a href="#" class="w3-bar-item w3-button">Home</a>
    <a href="#" class="w3-bar-item w3-button">Parks</a>
    <a href="#" class="w3-bar-item w3-button">Attractions</a>
    <a class="w3-right w3-animate-right w3-margin-right w3-bar-item w3-hide-small">My Theme Park Resort Manager</a>
</header>
<div class="w3-panel">
    <div class="w3-twothird w3-margin">
    <h3 class="w3-container w3-text-blue">Parks Table</h3>

    <table class="w3-table-all w3-hoverable" >
        <tr>
            <th>Name </th>
            <th>Surface </th>
            <th>Opening Year </th>
        </tr>

        <tr th:each="park:${parksfromController}">

            <td th:text="${park.parkName}"></td>
            <td th:text="${park.surface} + ' Ha.'"></td>
            <td th:text="${park.openingYear}"></td>

            <td style="width:100px"> <a th:href ="@{/park/deletePark(parkIdFromView=${park.parkId})}"
                    class="w3-button w3-red">Delete</a> </td>

            <td style="width:100px"> <a th:href ="@{/park/updateParkForm(parkId=${park.parkId})}"
                    class="w3-button w3-green">Update</a> </td>

        </tr>
    </table>
    <p>
        <a th:href="@{/park/createParkForm}" class="w3-button w3-blue">Add new park</a>
    </p>
    </div>
    <div class="w3-twothird w3-margin">
    <h3 class="w3-container w3-text-blue">Attractions Table</h3>

    <table class="w3-table-all w3-hoverable" >
        <tr>
            <th>Name </th>
            <th>Description </th>
            <th>Park </th>
        </tr>
        <tr th:each="attraction:${attractionsfromController}">

            <td th:text="${attraction.attractionName}"></td>
            <td class="w3-hide-small" th:text="${attraction.attractionDescription}"></td>
            <td th:text="${attraction.park.parkName}"></td>

            <td style="width:100px"> <a th:href ="@{/attraction/deleteAttraction(idFromView=${attraction.attractionId})}"
                    class="w3-button w3-red">Delete</a> </td>

            <td style="width:100px"> <a th:href ="@{/attraction/updateAttractionForm(attractionId=${attraction.attractionId})}"
                    class="w3-button w3-green">Update</a> </td>

        </tr>
    </table>

    <p>
        <a th:href="@{/attraction/createAttractionForm}" class="w3-button w3-blue">Add new attraction</a>
    </p>
    </div>
</div>


</body>
</html>